@import './variables.scss';

.footer {
    background-color: $darkGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $lightGrey;
    height: 80px;

    @include breakpoint(big_desktop) {
        height: 110px;
        font-size: 30px;
    }
}