@import './variables.scss';

.list {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    background-color: $black;

    &__item {
        list-style: none;
        color: $lightGrey;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $lightGrey;
        }
    }
}